@import 'variables';
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: $primary-color;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}